:root {
  --main-color: #212121;
  --secondary-color: #757575;
  --accent-color: #2196f3;
  --white-color: #ffffff;
  --white-alfa-color: rgba(255, 255, 255, 0.6);
  --black-color: #000000;
  --bg-main-color: #ffffff;
  --bg-light-color: #f5f4fa;
  --bg-dark-color: #2f303a;
  --bg-accent-color: #2196f3;
  --bg-accent-color-button: #188ce8;
  --border-card-color: #eeeeee;
  --soc-icon-color-main: #afb1b8;
  --soc-bg-footer: rgba(255, 255, 255, 0.1);
}
