.clients__title {
  text-align: center;
  margin-bottom: 50px;
  font-size: 36px;
  line-height: 1.17;
  letter-spacing: 0.03em;
}
.clients__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  list-style: none;
  // margin-right: calc(-1 * 30px);
}
.clients__item {
  @media screen and (max-width: 767px) {
    flex-basis: calc((100% - 30px) / 2);
    &:nth-child(2n + 1) {
      margin-right: 30px;
    }
    &:nth-child(-n + 4) {
      margin-bottom: 30px;
    }
  }
  @media screen and (min-width: 768px) and (max-width: 1199px) {
    flex-basis: calc((100% - 60px) / 3);
    margin-right: 30px;
    margin-bottom: 30px;
    &:nth-child(3n) {
      margin-right: 0;
    }
    &:nth-last-child(-n + 3) {
      margin-bottom: 0;
    }
  }
  @media screen and (min-width: 1200px) {
    flex-basis: calc((100%-150px) / 6);
    &:not(:last-child) {
      margin-right: 30px;
    }
  }
}
.clients__link {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid var(--soc-icon-color-main);
  border-radius: 3px;
  fill: var(--soc-icon-color-main);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);

  @media screen and (min-width: 480px) {
    width: 210px;
    height: 92px;
  }
  @media screen and (min-width: 768px) {
    width: 226px;
    height: 92px;
  }
  @media screen and (min-width: 768px) {
    width: 170px;
    height: 92px;
  }

  &:hover,
  &:focus {
    fill: var(--accent-color);
    border: 1px solid var(--accent-color);
  }
}
.clients__logo {
  background-size: contain;
}
