.logo {
  display: block;
  color: var(--accent-color);
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
}
.logo-header {
  color: var(--black-color);
}
.link-logo-header {
  padding-top: 24px;
  padding-bottom: 24px;
}
.logo-footer {
  color: var(--white-color);
  margin-bottom: 20px;
}
.link-logo-footer {
  margin-bottom: 20px;
}
